@font-face {
    font-family: "oswaldregular";
    src: url("../../public/fonts/oswald/oswald-variablefont_wght-webfont.woff2")
            format("woff2"),
        url("../../public/fonts/oswald/oswald-variablefont_wght-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("../../public/fonts/playfair/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/playfair/PlayfairDisplay-Regular.woff") format("woff"),
        url("../../public/fonts/playfair/PlayfairDisplay-Regular.ttf") format("truetype"),
        url("../../public/fonts/playfair/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PlayfairDisplay-Medium";
    src: url("../../public/fonts/playfair/PlayfairDisplay-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/playfair/PlayfairDisplay-Medium.woff") format("woff"),
        url("../../public/fonts/playfair/PlayfairDisplay-Medium.ttf") format("truetype"),
        url("../../public/fonts/playfair/PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}
